/* app css stylesheet */

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
body {
    margin: 10px;
    padding: 10px;
    font-family: Tahoma, Arial, Verdana;
    overflow: hidden;
}
#sideMenu {
    margin: 7px;
    padding: 7px;
    width: 350px;
    font-family: Tahoma, Arial, Verdana;
    overflow: hidden;
}
#booksContainer{
    max-height: 600px;
    overflow-y: auto;
}
.dropdown-menu{
    max-height: 300px; /*Provide height in pixels or in other units as per your layout*/
    overflow-y: auto; /*Provide an auto overflow to diaply scroll*/
}
.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}
div.bible-chapter {
    padding: 1px;
    margin: -1px 0 0 -1px;
    border: 1px solid #DDDDDD;
}

div.bible-chapter a {
    display: block;
    width: 100%;
    text-decoration: none; /* No underlines on the link */
    text-align: center;
}
